[Unit]
Description=Author: ThienNQ

[Service]
Type=simple
ExecStart=/bin/bash redis-pull
User=root
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
Alias=redis-pull.service